{% extends "base.html" %}

{% block content %}
{{ super() }}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<div id="cusdis_thread" data-host="https://cus-fastlearn.xf-yun.cn"
    data-app-id="23b1a81c-8dc3-4240-bf28-97bb978454e1" data-page-id="{{ PAGE_ID }}" data-page-url="{{ PAGE_URL }}"
    data-page-title="{{ PAGE_TITLE }}"></div>
<script defer src="https://cus-fastlearn.xf-yun.cn/js/widget/lang/zh-cn.js"></script>
<script async defer src="https://cus-fastlearn.xf-yun.cn/js/cusdis.es.js"></script>
{% endblock %}